

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    background-color: #e2e2e2;
    text-align: center;
    padding: 25px 0;
}

.header-image{
    background-image: linear-gradient( rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url(sd.jpg);
    background-position: 0% 70%;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: xx-large;
} 

nav a {
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
    background-color: rgb(144, 105, 253);
    color: #fff;
}

body{

    font-family: 'Open Sans';
}

table{
   width: 100%;
   border-collapse: collapse; 
}

table tr:nth-child(even){
   background-color: rgb(255, 255, 255);
}

table tr td{
    padding: 8px 5px;
    text-align: center;
}

.results-container{
    border-radius: 8px;
    padding: 15px;
    background-color: #e2e2e2;
    box-shadow: .2rem .2rem 1rem #a8a8a8;
    
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 200px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    
}

.inputContainer input[type = "search"] {

    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
    width: 40%;
    box-shadow: .5rem .5rem 1rem #ccc;
}

.errorsContainer{
    display: flex;
    background-color: #acaaff;
    margin: 15px 1000px;
    padding: 15px;
    border-radius: 18px;
    width: 500px;
}

.errorsContainer p{
    text-align: center;
    color: #fff;
}

